.completeborder{
    width: 1100px;
    height: 715px;
    border: 2px solid #0d0c0c;
    text-align: center;
    display: flex;
}
.header{
    width: 1300px;
    height: 100px;
    background-color: rgb(5, 0, 0);
    /* border: 2px solid #070606; */
    text-align: center;
    display: flex;
    justify-content: center;
    
  /* align-self: center;    <---- REMOVE */
    
    
}
.headerImage{
    width: 100px;
    height: 10px;
    background-color: rgb(5, 0, 0);
    /* border: 2px solid #070606; */
    text-align: center;
    display: flex;
    justify-content: center;
    
  /* align-self: center;    <---- REMOVE */
    
    
}
.heading{
    color: white;
    align-items: center;
    font-size: 10px solid transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
} 

#footerrect{
  display: flex;
  /* border: 1px solid #087b19; */
  align-items: center;
  background-color: rgb(110, 107, 102);
}

#firsthalf{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 530px;
  align-items: center;
  justify-content: center;
  
}

#siderectangle{
  border-radius: 30px;
  width: 80%;
  height: 95%;
  background-color: rgb(5, 0, 0); 
}
#secondhalf{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 530px; 
  align-items: center;
  justify-content:space-between;
}


.upperow{
  display: flex;
  width: 90%;
  height: 25%;
  justify-content: center;
  align-items:center;
  
}
.middlerow{
  display: flex;
  width: 90%;
  height: 25%;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  border-radius: 20px;
}
.lowerrow{
  display:flex;
  width: 90%;
  height: 25%;
  justify-content:center;
  align-items:center
}
#edgerect{
  width:100%;
  height: 80%;
  border-radius: 20px;
  background-color: rgb(5, 0, 0);
}
#middlerect1{
  width: 25%;
  height: 100%;
  background-color: rgb(5, 0, 0);
  border-radius: 20px;
}
#middlerect2{
  width: 25%;
  height: 100%;
  background-color: rgb(5, 0, 0);
  border-radius: 20px;
}
#middlerect3{
  width: 25%;
  height: 100%;
  background-color: rgb(5, 0, 0);
  border-radius: 20px;
}
#searchBox{
  width: 90%;
  height: 50%;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  background-color: rgb(5, 0, 0);
}

/* .middlerectangles{
  display: flex;
  flex-direction: row;
  border: 1px solid #0953f446;
  height: 50%;
  width: 100%;
}

.edgerectangles{
  display: flex;
  flex-direction: row;
  border: 1px solid #5b09f4f5;
  height: 50%;
  width: 100%;
} */
/* #footerrect{
  border: 1px solid #087b19;
  width: 900px;
  height: 530px;
}  
#firsthalf{
  display:flex;
}
#siderectangle{
  position: absolute;
        width: 300px;
        height: 525px;
        border: 1px solid #0c0c0c;
        /* text-align: center; */
        /* display: inline-flex;
        border-radius: 30px;
}
#searchBox{
  position: absolute;
  width: 850px;
  height: 50px;
  border: 1px solid #ab0d0d;
  text-align: center;
  display: inline-flex;
  border-radius: 30px;
  padding-top: 20px;
  padding-left:5px;
}
#secondhalf{
  padding-top: 20px;
  padding-left: 20px;
  display: inline-flex;
  border: 1px solid #7e0af2;
}
#middlerectangles{
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
}
#middlerect1{
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid #ab0d0d;
  display: inline-flex;
  border-radius: 30px;
  padding: 20px;
} */
/* #middlerect2{
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid #ab0d0d;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 20px;
} */

/* #edgerect1{
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid #ab0d0d;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 20px;
}
#edgerect2{
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid #ab0d0d;
  display: inline-block;
  justify-content: space-between;
  border-radius: 30px;
  padding: 20px;
} */